<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class = "container">

  		<div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li>Know Who Unfollowed</li>
                <li><%= link_to "Home", controller: "welcome", action: "index" %></li>
                <li class="active" ><%= link_to "Twitter", "/auth/twitter" %></li>
                <li><%= link_to "Facebook", "/auth/facebook" %></li>
                <li><%= link_to "Settings Panel", controller: "welcome", action: "edit" %></li>
                <li><%= link_to "About", controller: "welcome", action: "about" %></li>
                <li><%= link_to "Sign out", destroy_user_session_path %></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
		<H1>Settings Panel</H1>
    </div>  <!-- /.container -->
  </body>

</html>