<h1>Hi !! You have Registerd. You would get notification mail next time you Sign in. Have a Great Experience </h1>

<h2>Please Provide the Email id to where you would like to get the notification </h2>
<%= params[:uid] %>
<%= form_tag("/registered", method: "get") do %>
  <%= hidden_field_tag(:uid, params[:uid]) %>

  <%= label_tag(:user_email_id, "Enter your Email Id: ") %>
  <%= text_field_tag(:user_email_id) %>
  <%= submit_tag("Submit") %>
<% end %>