<html>
<head></head>
<body>
	<div class = "container">
		<div class = "row" align = "center">
			<br />
			<div class="span7">
				<h2>Know Who Unfollowed !!</h2><br /><br />

				<p>Well, Welcome to my Site !! My name is Saurabh.. I am a Ruby/Java Develper. The intention of this site is to help you guys monitor Your Facebook and Twitter Accounts. Please register and try it.</p>
			</div>
			<div class="span3">
				<div class = "well">
					<h2>Please Sign in</h2>
					<%= form_for(resource, :html => {:class => "form-signin"}, :as => resource_name, :url => session_path(resource_name)) do |f| %>
						<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
						<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
						<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
						<div><br />
						<%= f.email_field :email, :autofocus => true, :placeholder=> "Enter email" %></div>
						<div><br />
						<%= f.password_field :password, :placeholder=> "Enter password" %></div>
						<% if devise_mapping.rememberable? -%>
							<div><%= f.check_box :remember_me %><%= f.label :remember_me, :class => "checkbox inline" %></div><br />
						<% end -%>
						<div><%= f.submit "Sign in" %></div>
					<% end %>
					<%= render "devise/shared/links" %>
				</div><!-- /.well -->
			</div><!-- /.offset4 span4 -->
		</div>	<!-- /.row -->
	</div> <!-- /.container -->

</body>
</html>